/* Global View */
       /*header*/  
    body{
        font-family: 'Roboto', sans-serif;
        background-color: #060018;
        padding-top: 30px;
        margin-top: 30px
    }

    header{
        width: 100%;
        display:flex;
        background-color: none;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        position: fixed;
        top:0;
    }   
            
    a{
        color: white;
        text-decoration: none;
    }

    .logo{
        padding-top: 15px;
        padding-left: 30px;
    }
       
    .navbutton{
       display: inline-flexbox;
       background-color: #0600188e;
       border:  #e00036 solid 1px;
       width: 200px;
       padding: 15px 15px;
       font-family: 'Roboto', serif;
       font-size: 2rem;
       text-align: center;
       text-decoration: none;
       border-radius: 10px;
       margin-right: 30px;
       box-shadow: -10px 3px 10px 5px  #0600188e;
    }
   /*hero*/
    #hero {
        
       display: flex;
       background-image: url(/images/hero.svg);
       background-repeat: no-repeat;
       width: auto;
       padding-bottom: 90px;
       padding-top: 100px;
       padding-left: 10%;
       padding-right: 10%;
       margin-top: 60px ;
    }

    #heronopic {
        
        display: flex;
        background-color: none;
        background-repeat: no-repeat;
        width: auto;
        padding-bottom: 90px;
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 60px ;
        
     }

    #hero h1{
        font-size:6rem;
        text-align: center;
    }

    #heronopic h1{
        font-size: 7rem;
    }
    
    #narrow {
       width:90%;
    }    
     
    .row {
       display: flex;
       justify-content: space-between;
}

.column {
  flex: 0%;
  padding-top: 100px;
}

/*buttons*/
    .nextbutton{
        display: inline-block;
        background-color:#0600188e ;
        border: solid 1px #e00036;
        width: 200px;
        padding: 15px 15px;
        font-family: 'Roboto', serif;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 60px;
        margin-bottom: 100px;
        box-shadow: -10px 3px 10px 5px  #0600188e ;
    }

    .kycbutton{
            background-color:#0600188e;
            border: #e00036 solid 1px;
            width: 200px;
            padding: 15px 15px;
            font-family: 'Roboto', serif;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 50px;
            box-shadow: -10px 3px 10px 5px  #0600188e;
    }

    .kycbutton:hover{
            background-color:  #e00036;
            border: #060018  solid 1px;
            transition-duration: .5s;
}
         
            /*blue button*/

            .donewrapper{
                text-align:right;
                padding-right: 50px;
                padding-bottom: 50px;
                margin-right: 50px;
                margin-bottom: 50px;
                margin-top: 50px;
            }

            .bluebutton{
                background-color: #3500d3;
                
                width: 250px;
                color: white;
                font-family: 'Roboto';
                font-size: 1rem;
                padding: 10px 10px;
                display: inline-block;
                margin-top: 15px;
                border-radius: 5px;
                box-shadow: 5px 5px 5px #010003;
                text-align: center;
            }


            .mybutton {
                background-color:#e00036;
                width: 350px;
                color: white;
                font-family: 'Roboto';
                font-size: 3rem;
                padding: 25px 35px;
                display: inline-block;
                margin-top: 60px;
                border-radius: 5px;
                box-shadow: 1px 15px 5px #010003
            }
            
            input[type=button], input[type=submit] {
                background-color:#e00036;
                width: 250px;
                font-family: 'Roboto';
                font-size: 2rem;
                padding: 11px 25px;
                display: inline-block;
                margin-top: 15px;
                border-radius: 5px;
                box-shadow: 1px 15px 5px #010003;
                cursor: pointer;
                display: block;
                margin: 0 auto;
                
            }
        /*
            input[type=button], input[type=submit], input[type=reset]:hover{
        
                background-color: #060018;
                border: #e00036  solid 1px;
                transition-duration: .5s;
        
               */
            
        
        
            .mybutton:hover {
                background-color: #060018;
                border: #e00036  solid 1px;
                transition-duration: .5s;
            }
            
            .navbutton:hover{
                background-color:  #e00036;
                border: #060018  solid 1px;
                transition-duration: .5s;
            }
        
            .nextbutton:hover{
                background-color:  #e00036;
                border: #060018  solid 1px;
                transition-duration: .5s;
                
            }


/*Writing Fonts Copy*/
    h1{ 
        font-size: 3.25rem;
        font-family: 'Roboto';
        font-weight: 900;
        margin-bottom: 1rem;
        color: white;
        padding-top: 50px;
        text-align: center;   
        margin-left: auto;
        margin-right: auto;  
        padding-top: 20px;
               
    }

    h2{
        font-size: 2rem;
        font-family: 'Roboto';
        font-weight: 900;
        margin-bottom:10px;
        color: white;
        text-align: center;
        padding-top: 50px;
        padding-left: 50px;
        margin-bottom: 30px;
        padding-right: 50px;
    }

    h3{
        font-size: 2rem;
        padding: 15px 20px;
        font-family: 'Roboto';
        text-align: center;
        color: white;
    }
   

    p{  
        font-family: 'Roboto';
        color: white;
        font-size: 1.5rem;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
  /*buttons*/  
    
        
    .inputwrapper {
           margin-bottom: 30px;
           padding-bottom: 25px;
           text-align: center;
           padding-top: 10px;
    }

    
    
    input[type=text], input [type="email"], textarea {
        padding: 12px 20px;
        width: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: .85rem;
        box-sizing: border-box;
        text-align: center;
    }
    
    .newline{
        text-align: center;
        display: block;
        margin-bottom: 5px;
        font-size: 1.25rem;
        color: white;
        font-weight: 900;
        font-family: 'Roboto';
        padding-top: 15px;
    }

    .slide1{

        width: auto;
        background-color: #3500d3;
        padding-bottom: 50px;
        box-shadow: 100px 15px 50px 50px   #ec0505;
        padding-inline-start: 50px;
        text-align: center;
        margin-top: 50px;
    }

    

    .slide1 h1{
        padding-top: 20px;
        font-weight: 500;
        padding-top: 60px;
        
    }

    .slide1 p{   
        font-family: 'Roboto';
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 60px;
        
    }


/* Main Footer */

.container {
    margin-left: auto;
    margin-right: auto;
}
footer .main-footer{	padding: 20px 0;	background:#060018;}
footer ul{	padding-left: 0;	list-style: none;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll #060018 ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #e00036}
.widget li a:hover{	color: #3500d3;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}
ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: ; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
/*Page 2 Tiles*/
    i{
        font-size: 200px;
                padding-top: 50px;
        padding-bottom: 10px;
    }

    .card{ 
        display: flex;
        justify-content: space-evenly;
        padding-top: 200px; 
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .card1:hover {
        background-color: #e00036;
        border: #e00036 solid 1px;
        transition-duration: .5s;
    }

    input{
        background-color: #282828;
        border-color:#282828;
        color: white;
        
    }
        
    textarea{
        background-color: #282828;
        border-color:#282828;
        color: white;
        margin-bottom: 1px;
     
        
    }

    .card1{
        background-color:none;
        background-repeat: no-repeat;
        border:  #e00036 solid 1px;
        min-height: 400px;
        min-width: 430px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
        padding-top: 5%;
        padding-left: 20px;
        padding-right: 20px;
        
}

    .card2{
        background-color:none;
        background-repeat: no-repeat;
        border:  #e00036 solid 1px;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10%;
        margin-right:
    }

    .card3{
        background-color:none;
        background-repeat: no-repeat;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
       padding-top: 50px;
       padding-left: 30px;
        
    }

    .card h1 {
        color: #ffffff;
        font-size: 2.75rem;
      
    }

    .card p {
        color: #ffffff;
        font-size: 1.5rem;
    }

 /*Page 3 Specific */


    #narrow {
    width:100%;
           
  }
     #wide {
      width: 70%;    
}

    #wide h2{
    padding-top:80px;
}

     #narrow h2{
    padding-top:30px;
    padding-bottom: 10px;
}


/*Blue decorative boxes*/
    
    .slide2{
        background-color:#3500d3;
        display:block;
        box-shadow: 1px 25px 15px #04000f;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px
    }
    .slide2 p{
        font-family: 'Roboto';
        color: white;
        font-size: 1.5rem;
   }

    .slide2 h2{
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .slide22{
        background-color:#3500d3;
        display:block;
        height: 500px;
        box-shadow: 1px 25px 15px #04000f;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px
    }

    .slide3{
        width: 1300px;
        height: 650px;
        background-color:#190061;
        padding-top: 40px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       margin-top: 30px;
    }

    .slide32{
        width: 1300px;
        height: 800px;
        background-color:#190061;
        padding-top: 40px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       margin-top: 30px;
    }

     



     /* Different variations of red boxes and functions inside of them*/

     .sign{     
         border: #e00036 1px solid;
         display: block;
         width: 80%;
         height: 600px;
         margin-right: 50px;
         padding-top: 0px;
         
     }


     

     .sign2{
        
        border: 1px #e00036 solid;
          display: block;
          width: 80%;
         height: 600px;
        justify-content: center;
             margin-left: 50px;
            
             
              
     }

     .sign3{
        border: 1px #e00036 solid;
        display: block;
        width: 80%;
        height: 600px;
        justify-content: center;
        height: 300px
     }

     .sign h1{
        padding-bottom: 10px;
        padding-top: 60px;
    }
     .sign h2{
        padding-top:20px;
        margin-bottom: 0px;
    }

     .sign .inputwrapper{
        padding-top: 10px;
    
    }


    .redoutline{
        width: 50%;
        height: 250;
        border: 1px #e00036 solid;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
      margin-bottom: 42px;
      
    }

.agencymini{
    width: 50%;
       
        border: 1px #e00036 solid;
        margin-left: auto;
        margin-right: auto;
        
      }

    
}

/*redboxes-end*/

    input[type=text], input [type="email"], textarea{
        padding: 12px 25px;
        width: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        box-sizing: border-box;
        text-align: left;
    }

    input[type=text], input [type="text"], textarea{
        padding: 13px 10px;
        width: 80%;
        font-family: 'Roboto', sans-serif;
        font-size: .85rem;
        box-sizing: border-box;
        text-align: left;
    }
  

    .sand{ 
        background-image: url(images/sand.jpg);
        background-size: stretch;
        height: 1200px;
    }

    .languagewrapper {
        margin-bottom: 20x;
        margin-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

select{
    width: 200px;
    height: 50px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin: 10px 10px 10px 0px;
    background-color: #282828;
    color: white;
    text-align: center;
   
    
}

    
   .signup h2{
       padding-top: 40px;
   }

   
/*Page 5*/

  
   

    h4{
        padding-top: 20px;
    }

    .radio{
        color: white;
        font-size: 2rem;
        padding-bottom: 20px;
        text-align: center;
        padding-top: 20px;
    }
   

/*Page 6*/

.bio{
    margin-top:100px;
    padding-top: 50px;
}


 /*Page 7*/

    .circle{
        width: 500px;
        height: 500px;
        background: #3500d3;
        border-radius: 50%;
        margin: auto;
        margin-top: 50px; 
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    .uploadwrapper{
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.25rem;
        color: white;
        background-color: #240090;
        margin:auto;
        width:800px;
        padding: 20px 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    
/*Page 9 and lessons boxes*/


.congrats{
    padding-top: 150px;
    padding-bottom:100px;
}

    .lessons{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .lesson1{
        background-color:none;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;
        min-height: 250px; 
        width: 30%;
        box-shadow: 5px 5px 5px #060018;
    }


    .lesson1:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson2{
        background-color: none;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;
        min-height: 250px;
        width: 30%;
        box-shadow: 5px 5px 5px #060018;
    }

    .lesson2:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson3{
        background-color: none;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;  
        min-height: 250px;
        width: 30%;
        box-shadow: 5px 5px 5px #060018; 
    }

    .lesson3:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson1, .lesson2, .lesson3 {
        padding: 30px 30px 20px 30px;
        box-sizing: border-box;
        border-radius: 15px;
    }

   


    /* Tablet View <768px */
    @media (max-width: 768px){
   
   
}

    /* Mobile View <400px */
    @media (max-width:400px){

}

