/* Global View */
         
    body{
        font-family: 'Roboto', sans-serif;
        background-color: #060018;
        padding-top: 30px;
        margin-top: 30px
    }

    header{
        display:flex;
        background-color: #190061;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 1px 15px 5px #060018 ;
        position: fixed;
        top:0;
        width: 100%;
    }   
          
    
    a{
        color: white;
        text-decoration: none;
    }

    .logo{
        padding-left: 50px;
    }
       
    .navbutton{
       background-color: #0600188e;
       border:  #e00036 solid 1px;
       width: 200px;
        padding: 15px 15px;
        font-family: 'Roboto', serif;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        margin-right: 30px;
        box-shadow: -10px 3px 10px 5px  #0600188e ;
    }
   
   
    
    #hero {
        
        display: flex;
        background-image: url(/images/hero.svg);
       background-repeat: no-repeat;
        width: auto;
        padding-bottom: 90px;
        padding-top: 100px;
        padding-left: 10%;
        margin-top: 70px ;
    }

    #hero h1{
        font-size:6rem;
    }
      #narrow {
        width:90%;
           
      }
      #wide {
        flex: ;
    }

    .row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 0%;
}


    .nextbutton{
        background-color:#0600188e ;
        border: solid 1px #e00036;
        width: 200px;
        padding: 15px 15px;
        font-family: 'Roboto', serif;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        box-shadow: -10px 3px 10px 5px  #0600188e ;
    }

    

    .kycbutton{
            background-color:#0600188e;
            border: #e00036 solid 1px;
            width: 200px;
            padding: 15px 15px;
            font-family: 'Roboto', serif;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            box-shadow: -10px 3px 10px 5px  #0600188e;
    }

.kycbutton:hover{
    background-color:  #e00036;
    border: #060018  solid 1px;
    transition-duration: .5s;
}

    .education{
         margin-bottom: 30px;
         padding-bottom: 30px;
    }
    
   

    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
   
    


    main2{
        min-height: 300px;
        display: flex;
        align-items: center;
    }
                
    .herobox1 {
         flex: 2;
         text-align: center;
         padding-top: 100px;
    }
          
    h1{ 
        font-size: 3.25rem;
        font-family: 'Roboto';
        font-weight: 900;
        margin-bottom: 1rem;
        color: white;
        padding-top: 50px;
        text-align: center;     
               
    }

    h2{
        font-size: 2rem;
        font-family: 'Roboto';
        font-weight: 900;
        margin-bottom: 1rem;
        color: white;
        text-align: center;
        padding-top: 50px;
        padding-left: 50px;
        margin-bottom: 100px;
        padding-right: 50px;
    }

    p{  
        font-family: 'Roboto';
        color: white;
        font-size: 1.5rem;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .mybutton {
        background-color:#e00036;
        width: 250px;
        color: white;
        font-family: 'Roboto';
        font-size: 3rem;
        padding: 11px 25px;
        display: inline-block;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 1px 15px 5px #010003
    }
    
    .mybutton:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }
    
    .navbutton:hover{
        background-color:  #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .nextbutton:hover{
        background-color:  #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
        
    }
        
    .inputwrapper {
           margin-bottom: 20px;
           margin-top: 20px;
           padding-bottom: 25px;
           text-align: center;
           padding-top: 10px;
          
           
           
    }
    
    input[type=text], input [type="email"], textarea {
        padding: 12px 20px;
        width: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: .85rem;
        box-sizing: border-box;
        text-align: center;
    }
    
    .newline{
        text-align: center;
        display: block;
        margin-bottom: 10px;
        font-size: 1.25rem;
        color: white;
        font-weight: 900;
        font-family: 'Roboto';
    }


   
    }

    .slide1{

        width: auto%;
        background-color: #3500d3;
        padding-bottom: 50px;
        box-shadow: 100px 15px 50px 50px   #ec0505);
        padding-inline-start: 50px;
        text-align: center;
        margin-top: 50px;
    }

    

    .slide1 h1{
        padding-top: 20px;
        font-weight: 500;
        padding-top: 60px;
        
    }

    .slide1 p{   
        font-family: 'Roboto';
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 60px;
        
    }
   
Page 2 specific 
    img


    i{
        font-size: 200px;
                padding-top: 50px;
        padding-bottom: 10px;
    }

    .card{ 
        display: flex;
        justify-content: space-evenly;
        padding-top: 200px; 
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .card1:hover {
        background-color: #e00036;
        border: #e00036 solid 1px;
        transition-duration: .5s;
    }

    input{
        background-color: #282828;
        border-color:#282828;
        color: white;
        
    }
        
    textarea{
        background-color: #282828;
        border-color:#282828;
        color: white;
        
    }

    .card1{
        background-color:none;
        background-repeat: no-repeat;
        border:  #e00036 solid 1px;
        min-height: 400px;
        min-width: 400px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
        padding-top: 5%;
        padding-left: 20px;
        padding-right: 20px;
        
}

    .card2{
        background-color:none;
        background-repeat: no-repeat;
        border:  #e00036 solid 1px;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card3{
        background-color:none;
        background-repeat: no-repeat;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 25px 15px #04000f;
       padding-top: 50px;
       padding-left: 30px;
        
    }

    .card h1 {
        color: #ffffff;
        font-size: 2.75rem;
      
    }

    .card p {
        color: #ffffff;
        font-size: 1.5rem;
    }

 /*Page 3 Specific */


 #title{
        
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 170px;
    padding-left: 10%;
    margin-top: 40px ;
}

#title h1{
    font-size:7rem;
}
  #narrow {
    width:80%;
       
  }
  #wide {
    flex: ;
}

    .title{
        font-size: 300px;
        color: white;
        font-family: 'Roboto';
        font-weight: 900;
        padding-top: 80px;
        margin-bottom: 50px;
        text-align: center;
    }
    .slide2{
        background-color:#3500d3;
        display:block;
        box-shadow: 1px 25px 15px #04000f;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px
    }
    .slide2 p{
        font-family: 'Roboto';
        color: white;
        font-size: 1.5rem;
   }

    .slide2 h2{
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .slide3{
        width: 1300px;
        height: 650px;
        background-color:#190061;
        padding-top: 40px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       margin-top: 30px;
    }

    .slide32{
        width: 1300px;
        height: 800px;
        background-color:#190061;
        padding-top: 40px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       margin-top: 30px;
    }

    

    .letsgo {
        background-color:#fc8c14;
        width: 350px;
        text-align: center;
        color: white;
        font-family: 'Roboto';
        font-size: 3rem;
        padding: 11px 25px;
        display: inline-block;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 1px 15px 5px rgba(0, 146, 214, 0.685) ; 
    }
       .donewrappers{
           column-count: red;
    text-align:right;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px; 
       }

    .optout{
        background-color:none;
        border: 1px white solid;
        width: 250px;
        color: white;
        font-family: 'Roboto';
        font-size: 1rem;
        padding: 10px 10px;
        display: inline;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #04000f);
        text-align: center;
     }


     /*modal*/

/* The Modal (background) */

  
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
  
 
  
  .button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20pxs;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



     /*Page 4*/

     .sign{     
         border: #e00036 1px solid;
         display: block;
         width: 80%;
         height: 600px;
         margin-right: 50px;
         
         
     }

     .sign2{
        
        border: 1px #e00036 solid;
          display: block;
          width: 80%;
         height: 600px;
        justify-content: center;
      
         
     }

    .sign h1{
        padding-bottom: 10px;
    }
    .sign h2{
        padding-top:20px;
        margin-bottom: 0px;
    }

    .sign .inputwrapper{
        padding-top: 10px;
    
    }

    .signup{
        display: inline;
    }

    .signup .mybutton{
        font-size: 1rem;
        text-align: center;
        align-items: center;
    }

    .signup h2 {
        text-align: center;
        padding-bottom: 10px;
    }

    .signup .inputwrapper{
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

    input[type=text], input [type="email"], textarea{
        padding: 12px 20px;
        width: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: .85rem;
        box-sizing: border-box;
        text-align: left;
    }

  

    .sand{ 
        background-image: url(images/sand.jpg);
        background-size: stretch;
        height: 1200px;
    }

    .languagewrapper {
        margin-bottom: 20x;
        margin-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

select{
    width: 200px;
    height: 50px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin: 10px 10px 10px 0px;
    background-color: #282828;
    color: white;
    text-align: center;
   
    
}

    .agency{
        width: 50%;
        height: 200px;
        border: 1px #e00036 solid;
        margin-left: auto;
        margin-right: auto;
      margin-bottom: 40px;
      
    }

.agencymini{
    width: 50%;
        height: 400px;
        border: 1px #e00036 solid;
        margin-left: auto;
        margin-right: auto;
        
      }



   

    .radio{
        color: white;
        font-size: 2rem;
        padding-bottom: 20px;
        text-align: center;
    }
   
/*Page 5*/

    textarea{
    	box-sizing: border-box;
        width: 66.5%;
    }

/*Page 6*/

.bio{
    margin-top:100px;
    padding-top: 50px;
}


 /*Page 7*/

    .circle{
        width: 500px;
        height: 500px;
        background: #3500d3;
        border-radius: 50%;
        margin: auto;
        margin-top: 50px; 
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    .uploadwrapper{
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.25rem;
        color: white;
        background-color: #240090;
        margin:auto;
        width:600px;
        padding: 20px 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
       

/*Page 8*/
    .donewrapper{
        text-align:right;
        padding-right: 50px;
        padding-bottom: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .done{
        background-color: #3500d3;
        border: 1px white solid;
        width: 250px;
        color: white;
        font-family: 'Roboto';
        font-size: 1rem;
        padding: 10px 10px;
        display: inline-block;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(88, 44, 2, 0.712);
        text-align: center ; 
    }

    .slide2 p{
        font-family: 'Roboto';
        color: white;
        font-size: 1.5rem;
}
/*Page 9*/


    .lessons{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .lesson1{
        background-color: #010003;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;
        min-height: 250px; 
        width: 30%;
        box-shadow: 5px 5px 5px rgba(88, 44, 2, 0.712);
        
    }


    .lesson1:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson2{
        background-color: #010003;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;
        min-height: 250px;
        width: 30%;
        box-shadow: 5px 5px 5px rgba(88, 44, 2, 0.712) ;
    }

    .lesson2:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson3{
        background-color: #010003;
        border: #e00036 solid 1px;
        background-size: cover;
        background-position: bottom;  
        min-height: 250px;
        width: 30%;
        box-shadow: 5px 5px 5px rgba(88, 44, 2, 0.712) ;
    }

    .lesson3:hover {
        background-color: #e00036;
        border: #060018  solid 1px;
        transition-duration: .5s;
    }

    .lesson1, .lesson2, .lesson3 {
        padding: 30px 30px 20px 30px;
        box-sizing: border-box;
        border-radius: 15px;
    }

    h3{
        font-size: 2rem;
        padding: 15px 20px;
        font-family: 'Roboto';
        text-align: center;
        color: white;
    }

/*Page 10*/

    /* Tablet View <768px */
    @media (max-width: 768px){
   
   
}

    /* Mobile View <400px */
    @media (max-width:400px){

}
